.footers{
  font-size: 12px;
}
.footerholder {
  
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer {
    background: #1c313f;
    height: 40px;
    margin: auto;
}
