@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.footers{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 100px;
  color: white;
}
.footerholder {

    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer {
    /*background: #1c313f;*/
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    height: 40px;
    margin: auto;
}
