.container{
  width: 950px;
}

.card{
  margin: 5px;
  width: 220px;
  color: #23527c !important;
}

.card-title{
  font-weight: 200 !important;
}

.card-text{
  font-size: 28px;
}

.card-disaster{
  width: 750px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.container-title{
  width: 330px;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-size: 30px !important;
  color: #23527c !important
}

button:hover{
  cursor: pointer;
}
