<div>

  <div class="container">
    <div class="form-container">
      <div class="vjs">
        <div class="row">
          <div class="col game-container">
            <div id="gameContainer"></div>
            <div class="">
              <button type="button" id="start" class="btn btn-primary start" (click)="startSimulation()">
                Iniciar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="gmap">
        <div class="map">
          <div class="col">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="placeMarker($event)">
              <agm-marker [latitude]="latitudeMark" [longitude]="longitudeMark"></agm-marker>
            </agm-map>
          </div>
        </div>
        <div class="info">
          panel de informacion
        </div>
      </div>

      <div class="panel">
        <div class="tab">
          <button class="tablinks" (click)="open($event, 'alert')">Alerta</button>
          <button class="tablinks" (click)="open($event, 'actions')">Acciones</button>
          <button class="tablinks" (click)="open($event, 'visualize')">Visualizar Recursos</button>
          <button class="tablinks" (click)="open($event, 'request')">Solicitar Recursos</button>
          <button class="tablinks" (click)="open($event, 'state')">Estado de la Situación</button>
        </div>

        <div id="alert" class="tabcontent">
            Alerta
        </div>

        <div id="actions" class="tabcontent">
            Acciones
        </div>

        <div id="visualize" class="tabcontent">
            Visualizar recursos
        </div>

        <div id="request" class="tabcontent">
            Solicitar recursos
        </div>

        <div id="state" class="tabcontent">
            Estado
        </div>

      </div>

      <div class="chat">
        Chat
      </div>

      <div class="files">
        Archivos
      </div>

    </div>

  </div>

</div>
