.container{
  position: absolute;
  margin: auto;
}
#enter-footer {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: -60px;
  font-size: 13px;
  text-align: center;
}
#enter {
  max-width: 400px;
  margin: 90px auto;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);
}
#enter .logo-image {
  text-align: center;
}
#enter img {
  max-width: 80%;
  max-height: 150px;
}
#enter h1,
#enter p {
  text-align: center;
}
#enter h1 {
  font-size: 18px;
  line-height: 24px;
}
/* -- form styles ----------------------------------- */
label {
  display: inline;
  font-size: 1.0em;
  font-weight: 300;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
  width: 100%;
}
.input-field {
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}
/* -- input styles ----------------------------------- */
#enter form input[type="text"],
#enter form input[type="password"] {
  background-color: #d9dde0;
  color: black;
}
#enter form input[type="text"]:hover,
#enter form input[type="password"]:hover {
  background-color: #ced2d5;
  color: black;
  outline-color: #0088D8;
}
#enter form input[type="text"]:focus,
#enter form input[type="password"]:focus {
  background-color: #ecf0f1;
  color: black;
  outline-color: #0088D8;
}
#enter form input[type="text"]:valid,
#enter form input[type="password"]:valid {
  background-color: #1abc9c;
  color: black;
  outline-color: #0088D8;
}
#enter form input[type="text"]:invalid,
#enter form input[type="password"]:invalid {
  outline-color: #0088D8;
}
/* -- button styles ----------------------------------- */
.btn-ok {
  color: #e9ecee;
  background-color: #0088D8;
  border-color: #0088D8;
}
.btn-ok:hover,
.btn-ok:focus,
.btn-ok:active,
.btn-ok.active {
  color: #e9ecee;
  background-color: #3e4d59;
  border-color: #3e4d59;
}
