<div>

  <div class="container main-container">
    <div class="newUser">
      <button type="button" name="button" data-toggle="modal" data-target="#edit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo Usuario</button>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label subs">Nombre del perfil</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label subs">Mostrar</label>
      <div class="col-sm-8">
        <select class="custom-select mr-sm-8">
          <option selected>10</option>
          <option value="1">25</option>
          <option value="2">50</option>
          <option value="3">100</option>
        </select>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead class="titleTable">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of users" class="bodyTable">
          <tr>
            <th scope="row">{{ item.id + 1 }}</th>
            <td>{{ item.nombre }}</td>
            <td>{{ item.rol }}</td>
            <td><i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#edit"> </i><i class="fa fa-times" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="color: black;">
          <div class="modal-header">
            <h5 class="modal-title title" id="exampleModalLabel">Editar usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bodyForm">
            <form (ngSubmit)="saveChanges">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Nombre</label>
                <div class="col-sm-7">
                  <input class="form-control" type="text"
                  name="user">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Apellido</label>
                <div class="col-sm-7">
                  <input class="form-control" type="text"
                  name="lastname">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Correo</label>
                <div class="col-sm-7">
                  <input class="form-control" type="text"
                  name="email">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Clave</label>
                <div class="col-sm-7">
                  <input class="form-control" type="text"
                  name="password">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label">Rol</label>
                <div class="col-sm-7">
                  <input class="form-control" type="text"
                  name="role">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container main-container">

  <div class="content-section implementation">
      <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
          <p-header>CRUD for Cars</p-header>
          <p-column field="vin" header="Vin" [sortable]="true"></p-column>
          <p-column field="year" header="Year" [sortable]="true"></p-column>
          <p-column field="brand" header="Brand" [sortable]="true"></p-column>
          <p-column field="color" header="Color" [sortable]="true"></p-column>
          <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
      </p-dataTable>

      <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="vin">Vin</label></div>
                  <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="year">Year</label></div>
                  <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
                  <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="color">Color</label></div>
                  <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
              </div>
          </div>
          <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                  <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
              </div>
          </p-footer>
      </p-dialog>
  </div>
</div>

<app-footer></app-footer>
