.btn{
  cursor: pointer;
}
.fa-pencil{
  font-size: 24px;
  cursor: pointer;
  margin-right: 17px;
}
.fa-times{
  font-size: 24px;
  cursor: pointer;
}
.main-container{
  margin-top: 40px;
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 15px;
  background: white;
  margin-bottom: 20px;
  max-width: 700px;
}
.modal-dialog{
  max-width: 300px;
}
.newUser button, input[type="submit"], input[type="reset"] {
    background: none !important;
    color: #777;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    font-weight: 400;
    cursor: pointer;
}
.titleTable{
  font-weight: 200 !important;
  color: white !important;
  background: rgba(52,73,94,.94) !important;
}
.subs{
  font-weight: 400;
  color: #5A738E;
}
.bodyTable{
  color: #5A738E;
  font-weight: 200;
}
.title{
  font-weight: 200 !important;
  color: #5A738E !important;
}
.bodyForm{
  font-weight: 400;
  color: #5A738E !important;
}
