<div>

  <div class="container main-container">
    <div class="form-container">
      <h1 class="title">Guiones</h1>
      <hr>
      <div class="newSesion">
        <button type="button" name="button" [routerLink]="['../edit']"><i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir Guion</button>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table">
          <thead class="titleTable">
            <tr>
              <th>Nombre de la Sesión</th>
              <th>Guion</th>
              <th>Escenario</th>
              <th>Perfil</th>
              <th>Efecto Cascada</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nombre 1</td>
              <td>Guion 1</td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editScript()"></i></td>
              <td><i class="fa fa-trash-o" aria-hidden="true" data-toggle="modal" data-target="#delete"></i></td>
            </tr>
            <tr>
              <td>Nombre 2</td>
              <td>Guion 1</td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fa fa-pencil-square-o" aria-hidden="true" [routerLink]="['../edit']"></i></td>
              <td><i class="fa fa-trash-o" aria-hidden="true" data-toggle="modal" data-target="#delete"></i></td>
            </tr>
            <tr>
              <td>Nombre 3</td>
              <td>Guion 2</td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fa fa-pencil-square-o" aria-hidden="true" [routerLink]="['../edit']"></i></td>
              <td><i class="fa fa-trash-o" aria-hidden="true" data-toggle="modal" data-target="#delete"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Borrar Guion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Esta seguro que quiere borrar este guion?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Borrar</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

</div>
